@import url('../../../css/index.css');
@import url('../../styles/index.css');

.container {
  justify-content: space-between;
  gap: 2rem;
}

.header {
  position: inherit;
}

.info-container {
  max-width: 400px;
}

.login-h1 {
  color: hsl(174, 90%, 40%);
}

.form {
  max-width: 320px;
  text-align: left;
  background-color: transparent;
}

.form .inp {
  background-color: transparent;
}

.form .btn {
  width: 100%;
}

.footer {
  background-color: hsl(0, 0%, 8%);
}

.footer a {
  color: hsl(174, 90%, 40%);
}

.footer a:hover {
  color: hsl(174, 90%, 35%);
}

@media (min-width: 768px) {
  .content-container {
    flex-direction: row;
  }
}
