@import url('../../styles/variables.css');
@import url('../../styles/base.css');
@import url('../../styles/components.css');
@import url('../../styles/common.css');
@import url('../../../css/components/form.css');
@import url('../../../css/components/input.css');

.container {
  min-height: 100svh;
  height: auto;
  justify-content: space-between;
}

.brand-container:hover span {
  text-decoration: underline;
}

.content-container {
  padding: 0 1rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.info-container {
  max-width: 400px;
}

.login-h1 {
  color: var(--color-primary-light);
}

.form {
  max-width: 320px;
  text-align: left;
  background-color: transparent;
}

.form .inp {
  background-color: transparent;
}

.form .btn {
  width: 100%;
}

.footer {
  padding: 1.5rem;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
}

.footer a {
  color: hsl(174, 90%, 40%);
}

.footer a:hover {
  color: hsl(174, 90%, 35%);
}

@media (min-width: 768px) {
  .content-container {
    flex-direction: row;
  }
}
