@use 'sass:map';
@use '@styles/abstracts' as *;

.container {
  .rowContainer {
    @include flex-container(lg, row, false, true);
    gap: map.get($gaps, sm);
    align-items: center;
    border-bottom: solid rem(1) hsla(0, 0%, 0%, 0.1);
  }

  .rowContainer:hover {
    cursor: pointer;
    background-color: var(--color-neutral-20);
  }
}
