body {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: var(--header-height);
  background-color: var(--color-background);
  padding: var(--container-padding);
  flex: 1;
}
