.main {
  margin: auto;
  margin-top: var(--header-height);
  padding: var(--container-padding);
  background-color: var(--color-background);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section__h1 {
  padding: 0.5rem 0;
  background-image: linear-gradient(
    to right,
    #fff0 -15%,
    var(--color-accent-translucent)
  );
}

.section__h2 {
  border-bottom: var(--color-accent-translucent) solid 0.1rem;
  padding-bottom: 0.5rem;
}
