.header__menu-button {
  z-index: 1;
  margin-right: 0.6rem;
  padding: 0.3rem;
  border-radius: 30%;
  transition: all 0.4s ease-in-out;
}

.header__menu-button,
.header__menu-icon {
  width: 2rem;
  height: 2rem;
}

.header__menu-button--active {
  background-color: var(--component-bg-color);
  transition: all 0.5s ease;
}

.header__menu {
  background-color: var(--component-bg-color);
  border: var(--component-border);
  border-radius: var(--component-border-radius);
  display: none;
  position: absolute;
  top: calc(var(--header-height) - 0.3rem);
  right: calc(var(--container-padding) - 0.3rem);
}

.header__menu--block {
  display: block;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
}

.header__menu-item {
  height: fit-content;
  padding: 0.5rem;
}

.header__menu-item:first-child {
  font-weight: 460;
  border-bottom: var(--component-border);
}

.header__menu-item:last-child {
  border-top: var(--component-border);
}

.header__menu-item:nth-child(2) {
  padding-bottom: 0;
}

.header__theme-icon {
  width: 1.2rem;
}

.header__menu-item:last-child {
  color: var(--color-detail);
}

.header__theme-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Hover*/
.header__menu-button:hover {
  border-radius: 50%;
  background-color: var(--component-bg-color);
}

.header__menu-item:last-child:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header__theme-button:hover span {
  color: var(--color-cta);
}

.header__theme-button:hover .header__theme-icon {
  filter: drop-shadow(0 0 0.5rem #fff);
}
