.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.section__h1 {
  padding: 0.5rem 0;
  background-image: linear-gradient(
    to right,
    #fff0 -15%,
    var(--color-primary-translucent)
  );
}

.section__h2 {
  border-bottom: var(--color-primary-translucent) solid 0.1rem;
  padding-bottom: 0.5rem;
}
