@use '@styles/abstracts' as *;

.container {
  display: flex;
  justify-content: space-between;
  padding: map-get($paddings, md) map-get($paddings, lg);
  background-color: var(--color-primary-300);
}
