@use 'sass:map';
@use '@styles/abstracts' as *;

.container {
  @include flex-container(md, row, true, true, false);
  justify-content: space-between;
  padding-left: map.get($paddings, lg);
  padding-right: map.get($paddings, lg);
  background-color: var(--color-primary-300);
}
