.btn {
  border: none;
  color: #000;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: var(--radius-md);

  background: linear-gradient(
    90deg,
    var(--color-primary-glossy),
    var(--color-primary),
    var(--color-primary-glossy)
  );
  background-size: 200% 100%;
  animation: glossy 1.5s linear infinite;
}

.btn a {
  color: #000;
}

.title-emphasis {
  font-size: var(--title-md);
  display: inline;
  padding: 0;
  color: var(--color-primary);
}

@media (min-width: 768px) {
  h1 {
    font-size: var(--title-xl);
  }

  h2,
  .title-emphasis {
    font-size: var(--title-lg);
  }

  .text {
    font-size: var(--text-lg);
  }
}
