.btn {
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: var(--component-border-radius);

  background: linear-gradient(90deg, hsl(179, 96%, 38%), var(--color-primary), hsl(179, 96%, 38%));
  background-size: 200% 100%;
  animation: glossy 1.5s linear infinite;
}

.btn a {
  color: #000;
}

@keyframes glossy {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.text-strong {
  display: inline;
  padding: 0;
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .h1 {
    font-size: 2.5rem;
  }

  .h2 {
    font-size: 2rem
  }

  .text {
    font-size: 1.2rem;
  }
}