.btn {
  color: #000;
  padding: 1rem 3rem;
}

.title-emphasis {
  font-size: var(--title-md);
  display: inline;
  color: var(--color-primary);
}

@media (min-width: 768px) {
  h1 {
    font-size: var(--title-xl);
  }

  h2,
  .title-emphasis {
    font-size: var(--title-lg);
  }

  .text {
    font-size: var(--text-lg);
  }
}
