@use 'sass:map';
@use '@styles/abstracts' as *;

.titleContainer {
  @include flex-container(md, row, true, true);
  align-items: center;
  border-bottom: solid rem(2) var(--color-neutral-50);

  .title {
    font-size: map.get($font-sizes, xl);
  }

  .icon {
    width: map.get($icons, sm);
    height: map.get($icons, sm);
    stroke-width: 2.5;
  }
}

.titleContainerWeak {
  @extend .titleContainer;
  
  .title {
    color: var(--color-neutral-100);
    font-weight: 500;
  }

  .icon {
    color: var(--color-neutral-100); 
  }
}
