.financial-statement {
  height: 10rem;
}

.financial-statement h1 {
  padding: 0 0 0.8rem 0;
}

.total-investments-container {
  padding: 0.8rem 0 0 0;
  border-top: 1px solid var(--color-accent);
  display: flex;
  justify-content: space-between;
}

.total-investments {
  font-size: 1.2rem;
}

#total-value {
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
}

.content-wrapper {
  padding: var(--container-padding);
  margin-left: calc(-1 * var(--container-padding));
  margin-right: calc(-1 * var(--container-padding));
}

.section {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section h2 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-accent-translucent);
}

.items-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card-item {
  background-color: var(--color-accent);
  border-radius: 1rem;
  width: 6rem;
  height: 7rem;
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transform: scale(100%) translateY(0);
  transition: all 0.3s ease-in-out;
}

.card-icon {
  width: 70%;
}

/* Hover */
.visibility-icon:hover {
  cursor: pointer;
}

.card-item:hover {
  color: var(--color-text);
  cursor: pointer;
  background-color: var(--color-accent-hover);
  transform: scale(105%) translateY(0.5rem);
}
