.section {
  margin-bottom: 0;
}

.section:last-child {
  margin-bottom: 1.5rem;
}

.statement {
  height: 10rem;
}

.statement__container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.statement__total {
  font-size: 1.2rem;
}

.statement__total-value {
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
}

.loans__cards,
.investments__cards {
  padding: var(--container-padding);
  
}
