.section {
  margin-bottom: 0;
}

.statement {
  height: 10rem;
}

.statement__container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.statement__total {
  font-size: 1.2rem;
}

.statement__total-value {
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
}

.loans__cards,
.investments__cards {
  padding: var(--container-padding);
  justify-content: center;
}

.no-events__text {
  flex: 1;
  margin-right: var(--container-padding);
}

.event__img {
  flex: 1;
  height: 200px;
  min-height: 100%;
}

.no-events {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-image: linear-gradient(
    to top,
    var(--color-accent-translucent),
    #ffffff00 90%
  );
  background-repeat: no-repeat;
  box-shadow: -0rem 0.2rem 0.1rem #0000002b;
}
