.section {
  margin-bottom: 0;
}

.statement {
  height: 10rem;
  gap: 0;
}

.statement__container {
  padding-top: var(--container-padding);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.statement__total {
  font-size: 1.2rem;
}

.statement__total-value {
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
}

.loans__cards,
.investments__cards {
  padding: var(--container-padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.events__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
