@media (min-width: 767px) {
  .statement__total {
    font-size: 1.8rem;
  }
  .statement__visibility-icon {
    width: 2.5rem;
  }

  .card-action {
    width: 9rem;
    height: 11rem;
  }

  .card-action__label {
    font-size: 1.5rem;
  }
}
