.footer {
  padding: var(--padding-lg);
  background-color: var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxl);
}

.footer .icon {
  height: var(--icon-3xl);
}

.footer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
}

@media (min-width: 768px) {
  .footer .content {
    flex-direction: row;
  }

  .footer .content a + p::before {
    content: ' - ';
  }
}
