@import url('menu.css');

.header {
  height: var(--header-height);
  width: 100%;
  max-width: 768px;
  background-color: var(--color-primary);
  box-shadow: var(--component-box-shadow);
  z-index: 1;

  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .brand-name {
  font-size: 1rem;
  margin-left: 0.8rem;
}
