@import url('menu.css');

.header {
  padding: 0.6rem;
  height: var(--header-height);
  width: 100%;
  max-width: 768px;
  background-color: var(--color-primary);
  z-index: 1;

  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .brand-name {
  font-size: 1rem;
}

.header .header-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  padding: 0.2rem;
  cursor: pointer;
}
