@import url('./header.css');
@import url('./footer.css');
@import url('./section.css');

body {
  background-color: var(--color-bg-1);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

main#app {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: var(--header-height);
  background-color: var(--color-bg-1);
  padding: var(--padding-xl);
  flex: 1;
}
