.header .btn-menu {
  z-index: 1;
  border-radius: var(--radius-md);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.header .btn-menu:hover {
  border-radius: var(--radius-full);
  background-color: var(--component-bg-color);
}

.header .btn-menu {
  width: var(--icon-size);
  height: var(--icon-size);
}

.header .btn-menu.btn-active {
  background-color: var(--component-bg-color);
}

.header .nav-menu {
  background-color: var(--component-bg-color);
  border: var(--component-border);
  border-radius: var(--radius-lg);
  display: none;
  position: absolute;
  top: calc(var(--header-height) - var(--padding-md) / 2);
  right: calc(var(--padding-md));
}

.header .nav-menu.display-block {
  display: block;
}

.header .menu-list {
  display: flex;
  flex-direction: column;
}

.header .menu-list .menu-item {
  height: fit-content;
  padding: var(--padding-xs) var(--padding-sm);
  cursor: pointer;
}

.header .menu-list .menu-item:first-child {
  font-weight: 500;
  border-bottom: var(--component-border);
  padding: var(--padding-sm);
}

.header .menu-list .menu-item:last-child {
  border-top: var(--component-border);
  padding: var(--padding-sm);
}

.header .theme-icon {
  width: 1.2rem;
}

header .menu-list .menu-item:hover {
  background-color: hsl(169, 85%, 50%, 10%);
}

.header .menu-list .menu-item:first-child:hover {
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
}

.header .menu-list .menu-item:last-child:hover {
  text-decoration: underline;
  border-radius: 0 0 var(--radius-lg) var(--radius-lg);
}

.header .btn-theme {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
