.header .btn-menu {
  z-index: 1;
  border-radius: 30%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.header .btn-menu:hover {
  border-radius: 50%;
  background-color: var(--component-bg-color);
}

.header .btn-menu {
  width: var(--icon-size);
  height: var(--icon-size);
}

.header .btn-menu.btn-active {
  background-color: var(--component-bg-color);
}

.header .nav-menu {
  background-color: var(--component-bg-color);
  border: var(--component-border);
  border-radius: var(--component-border-radius);
  display: none;
  position: absolute;
  top: calc(var(--header-height) - 0.3rem);
  right: calc(var(--container-padding) - 0.3rem);
}

.header .nav-menu.display-block {
  display: block;
}

.header .menu-list {
  display: flex;
  flex-direction: column;
}

.header .menu-list .menu-item {
  height: fit-content;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.header .menu-list .menu-item:first-child {
  font-weight: 500;
  border-bottom: var(--component-border);
  padding: 0.5rem;
}

.header .menu-list .menu-item:last-child {
  border-top: var(--component-border);
  padding: 0.5rem;
}

.header .theme-icon {
  width: 1.2rem;
}

header .menu-list .menu-item:hover {
  background-color: hsl(169, 85%, 50%, 10%);
}

.header .menu-list .menu-item:first-child:hover {
  border-top-left-radius: var(--component-border-radius);
  border-top-right-radius: var(--component-border-radius);
}

.header .menu-list .menu-item:last-child:hover {
  text-decoration: underline;
  border-bottom-left-radius: var(--component-border-radius);
  border-bottom-right-radius: var(--component-border-radius);
}

.header .btn-theme {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
