.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-h1 {
  padding: 0.5rem 0;
  background-image: linear-gradient(
    to right,
    #fff0 -15%,
    var(--color-primary-translucent)
  );
  border-radius: 0 var(--radius-xxl) var(--radius-xxl) 0;
}

.section-h2 {
  border-bottom: var(--color-primary-translucent) solid 0.1rem;
  padding-bottom: 0.5rem;
}

.section .form {
  align-self: center;
}
