body {
  background-color: blueviolet;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

header {
  height: 2rem;
  background-color: red;
}

main {
  flex: 1;
  background-color: gray;
}

footer {
  height: 2rem;
  background-color: blue;
}
