@import url("../src/css/index.css");



.card-data.loading .card-data__header,
.card-data.loading .card-data__content .card-data__label,
.card-data.loading .card-data__content .card-data__value,
.card-data.loading .card-data__footer {
  height: 1rem;
  border-radius: var(--component-border-radius);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);
  background-size: 200% 100%;
  animation: loading 5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.card-data.loading .card-data__label {
  width: 30%;
}

.card-data.loading .card-data__value {
  width: 60%;
}
