@use '@styles/abstracts' as *;

.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: $padding-sm;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-neutral-0);
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.item {
  @include flex-center;
  flex-direction: column;
}

.btnTheme {
  @extend .item;
  @include btn-unset;
}
