@use '@styles/abstracts' as *;

.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: $padding-sm;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-neutral-0);
  border-top: $border-thickness;
}

.item,
.btnTheme {
  @include flex-center;
  flex-direction: column;
}
