.btn {
  width: 6rem;
  height: 2rem;
  border: none;
  border-radius: var(--component-border-radius);
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.btn-unset {
  all: unset;
}

.btn-action {
  background-color: var(--color-cta);
}

/* Hover */
.btn:hover {
  cursor: pointer;
  border-radius: 0.8rem;
  background-color: var(--color-cta-hover);
  box-shadow: var(--component-box-shadow);
}
