.btn {
  padding: 0.8em 1em;
  border: none;
  border-radius: var(--component-border-radius);
  background-color: var(--color-primary);
  color: var(--color-background);
}

.btn-unset {
  all: unset;
}

.btn-action {
  color: var(--color-off-white);
  background-color: var(--color-cta);
}

.btn-success {
  background-color: var(--component-color-success);
  color: var(--color-off-white);
}

.btn-attention {
  background-color: var(--component-color-attention);
}

.btn-fail {
  background-color: var(--component-color-fail);
  color: var(--color-off-white);
}

/* Hover */
.btn:hover {
  box-shadow: var(--component-box-shadow);
  background-color: var(--color-primary-hover);
}

.btn-action:hover {
  background-color: var(--color-cta-hover);
}

.btn-success:hover {
  background-color: var(--component-color-success-hover);
}

.btn-fail:hover {
  background-color: var(--component-color-fail-hover);
}

.btn-attention:hover {
  background-color: var(--component-color-attention-hover);
}

.btn:focus {
  outline: none;
}