.form {
  width: fit-content;
}

.form-group {
  /* margin-bottom: 1rem;  */
}

.form-group__input-group {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.form-group__input-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}