/* Estilo básico para todos os inputs */
.input {
  padding: 0.4rem;
  box-sizing: border-box;
  background-color: var(--component-bg-color);
  border: 0.12rem solid var(--component-border-color);
  border-radius: var(--component-border-radius);
  transition: all 0.5s;
  color: var(--color-font);
}

.input:focus {
  border-color: var(--color-accent);
  box-shadow: var(--component-box-shadow);
  outline: none;
}

.input[type="password"] {
  font-family: "Courier New", Courier, monospace;
}
