.inp {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem 0.5rem;
  box-sizing: border-box;
  background-color: var(--component-bg-color);
  border: 0.12rem solid var(--component-border-color);
  border-radius: var(--component-border-radius);
  transition: all 0.2s;
  color: var(--color-font);
}

.inp:focus {
  border-color: var(--color-accent);
  box-shadow: var(--component-box-shadow);
  outline: none;
}

.inp-error {
  border-color: var(--component-color-fail);
}

.error-message {
  color: var(--component-color-fail);
}

.inp__lookup {
  width: 7.5rem;
}
.inp-date {
  color: #808080;
  width: 7.5rem;
  padding: 0.2rem;
}

.inp-date::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.5);
}

.inp-skelon {
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--skeleton-middle) 50%,
    transparent 100%
  );
  background-size: 200% 100%;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: 0% 0;
  }
}

input.btn {
  cursor: pointer;
}
