.no-components__text {
  flex: 1;
  margin-right: var(--container-padding);
}

.no-components__img {
  flex: 1;
  height: 200px;
  min-height: 100%;
}

.no-components {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-image: linear-gradient(
    to top,
    var(--color-accent-translucent),
    #ffffff00 90%
  );
  background-repeat: no-repeat;
  box-shadow: -0rem 0.2rem 0.1rem #0000002b;
}
