.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal__body {
  margin: 1rem;
  background-color: var(--color-background);
  border-radius: var(--component-border-radius);
  max-width: 400px;
  position: relative;
  text-align: center;
}

.modal__content {
  padding: var(--container-padding);
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  color: var(--color-cta);
  border-top-right-radius: var(--component-border-radius);
  font-size: 2rem;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border: none;
}