@use 'sass:map';
@use '@styles/abstracts' as *;

.actionLink {
  @include flex-container(xs, column, true);
  align-items: center;

  .iconContainer {
    padding: map.get($paddings, md);
    border-radius: map.get($radius, full);
    background-color: var(--color-primary-200);
  }

  .label {
    font-size: map.get($font-sizes, sm);
  }
}
