@use '@styles/abstracts' as *;

.listItem {
  .link {
    @extend %option-row;
    justify-content: space-between;

    .labelContainer {
      @include flex-container('sm', row, true);
      align-items: center;
      font-weight: 500;
    }
  }

  .link:hover {
    @extend %option-row-hover;
  }
}
