@use '@styles/abstracts' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: map-get($gaps, xs);
}

.balanceContainer {
  display: flex;
  gap: map-get($gaps, sm);
}

.balanceLabel {
  font-size: map-get($font-sizes, sm);
}

.balance {
  @include flex-center;
  flex-direction: row;
  font-size: map-get($font-sizes, 2xl);
  font-weight: bold;
}
