@use 'sass:map';
@use '@styles/abstracts' as *;

.container {
  @include flex-container(xs, column, true);

  .label {
    font-size: map.get($font-sizes, sm);
  }
}

.valueContainer {
  @include flex-container(sm, row, true);

  .value {
    @include flex-container(xs, row, false);
    align-items: center;
    font-size: map.get($font-sizes, 2xl);
    font-weight: bold;
  }
}
