.btn-unset {
  all: unset;
}

.btn {
  height: 2.75rem;
  border: none;
  padding: var(--padding-md) var(--padding-lg);
  border-radius: var(--radius-md);
  background-color: var(--color-secondary);
  font-weight: 600;
  cursor: pointer;
}

.btn-icon {
  cursor: pointer;
  display: inline-flex;
}
