.form {
  max-width: 500px;
  padding: 1.5rem;
  border: var(--form-component-border);
  border-radius: var(--component-border-radius);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  background-color: var(--component-bg-color);
}

.form-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form-group .inp-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 0.2rem;
}
