@import url('../../../global/css/components/animations.css');

.inp-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.inp-container__pass {
  flex-wrap: nowrap;
}

.inp {
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem 0.5rem;
  box-sizing: border-box;
  background-color: var(--component-bg-color);
  border: var(--form-component-border);
  border-radius: var(--component-border-radius);
  transition: all 0.2s;
  color: var(--font-color);
}

.inp:focus {
  border-color: var(--inp-focus-color);
  box-shadow: var(--component-box-shadow);
  outline: none;
}

.inp-error {
  border-color: var(--color-fail);
}

.error-message {
  color: var(--color-fail);
}

.inp-date {
  color: hsl(0, 0%, 50%);
}

.inp-date::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.5);
}

.inp-search {
  max-width: 6rem;
}

input.btn {
  cursor: pointer;
}
