.inp__wrapper {
  width: 100%;
  background-color: var(--component-bg-color);
  border: var(--form-component-border);
  border-radius: var(--component-border-radius);
  transition: all 0.2s;
}

.inp__wrapper-pass,
.inp__wrapper-search {
  display: flex;
  align-items: center;
}

.inp__wrapper-search {
  max-width: 8rem;
}

.inp {
  width: 100%;
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  color: var(--font-color);
  border-radius: var(--component-border-radius);
  background-color: transparent !important;
  border: none;
}

.inp:focus {
  outline: none;
}

.inp__wrapper:focus-within {
  border-color: var(--inp-focus-color);
  box-shadow: var(--component-box-shadow);
  background-color: transparent;
}

.inp-error {
  border-color: var(--color-fail);
}

.error-message {
  color: var(--color-fail);
}

.inp-date {
  border: var(--component-border);
}

input[type='date'] {
  color: hsl(0, 0%, 50%);
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.5);
}
