.inp__wrapper {
  width: 100%;
  height: calc(2rem + var(--padding-sm));
  background-color: var(--color-bg-2);
  border: var(--form-component-border);
}

.inp__wrapper,
.select-box {
  padding: var(--padding-sm);
  border-radius: var(--radius-md);
  transition: all 0.2s;
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.inp__wrapper-search {
  max-width: 10.5rem;
}

.inp,
.select-box {
  height: calc(2rem + var(--padding-sm));
  width: 100%;
  border: none;
  border-radius: var(--radius-md);
  background-color: transparent;
}

.inp:focus {
  outline: none;
}

.inp__wrapper:focus-within {
  border-color: var(--color-inp-focus);
  box-shadow: var(--component-box-shadow);
}

.inp-error {
  border-color: var(--color-fail);
}

.error-message {
  color: var(--color-fail);
}

.inp-date {
  height: fit-content;
  border: var(--component-border);
}

.inp-date:focus {
  border-color: var(--color-inp-focus);
}

input[type='date'] {
  color: var(--color-gray);
}

input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.5);
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}
