.select-box {
  border: var(--form-component-border);
  cursor: pointer;
}

.select-box:focus {
  border-color: var(--color-inp-focus);
  box-shadow: var(--component-box-shadow);
  outline: none;
}

.select-box option {
  background-color: var(--color-bg-2);
}

.select-error {
  border-color: var(--color-fail);
}
