.select-box {
  border: var(--border-thickness);
  border-color: var(--border-color);
  cursor: pointer;
  color: var(--color-gray);
}

.select-box:valid {
  color: var(--text-color);
}

.select-box:focus {
  border-color: var(--color-inp-focus);
  box-shadow: var(--box-shadow-sm);
  outline: none;
}

.select-error {
  border-color: var(--color-fail);
}
