$colors: (
  primary-translucent: hsla(169, 96%, 38%, 0.3),
  secondary-translucent: hsla(189, 98%, 38%, 0.3),
  green: hsl(120, 85%, 35%),
  green-hover: hsl(120, 85%, 37%),
  yellow: hsl(60, 85%, 50%),
  yellow-hover: hsl(60, 85%, 52%),
  red: hsl(0, 85%, 65%),
  red-hover: hsl(0, 85%, 63%),
);
