@use 'sass:map';
@use './sizes' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-container(
  $size,
  $direction: row,
  $with-gap: false,
  $with-padding: false,
  $with-radius: false
) {
  display: flex;
  flex-direction: $direction;

  @if $with-gap {
    gap: map.get($gaps, $size);
  }
  @if $with-padding {
    padding: map.get($paddings, $size);
  }
  @if $with-radius {
    border-radius: map.get($radius, $size);
  }
}
