$shadow-color: rgba(0, 0, 0, 0.2);

$shadow-xs: 0 1px 1px $shadow-color;
$shadow-sm: 0 2px 2px $shadow-color;
$shadow-md: 0 2px 4px $shadow-color;
$shadow-lg: 0 4px 8px $shadow-color;
$shadow-xl: 0 6px 16px $shadow-color;
$shadow-2xl: 0 8px 24px $shadow-color;
