@use './functions' as *;

$paddings: (
  xs: rem(4),
  sm: rem(8),
  md: rem(12),
  lg: rem(16),
  xl: rem(20),
  2xl: rem(24),
);

$margins: (
  xs: rem(4),
  sm: rem(8),
  md: rem(12),
  lg: rem(16),
  xl: rem(20),
  2xl: rem(24),
);

$gaps: (
  xs: rem(4),
  sm: rem(8),
  md: rem(12),
  lg: rem(16),
  xl: rem(20),
  2xl: rem(24),
);

$radius: (
  xs: rem(4),
  sm: rem(8),
  md: rem(12),
  lg: rem(16),
  xl: rem(20),
  2xl: rem(24),
  full: 50%,
);

$icons: (
  xs: rem(20),
  sm: rem(24),
  md: 2rem,
  lg: 2.5rem,
  xl: 2.75rem,
  2xl: 3.5rem,
  3xl: 4rem,
  4xl: 5rem,
);
