@use './functions' as *;

$paddings: (
  xs: rem(4),
  sm: rem(8),
  md: rem(12),
  lg: rem(16),
  xl: rem(20),
  2xl: rem(24),
);

$margins: (
  xs: rem(4),
  sm: rem(8),
  md: rem(12),
  lg: rem(16),
  xl: rem(20),
  2xl: rem(24),
);

$gaps: (
  xs: rem(4),
  sm: rem(8),
  md: rem(12),
  lg: rem(16),
  xl: rem(20),
  2xl: rem(24),
);

$radius: (
  xs: rem(4),
  sm: rem(8),
  md: rem(12),
  lg: rem(16),
  xl: rem(20),
  2xl: rem(24),
  full: 50%,
);

$icons: (
  xs: rem(20),
  sm: rem(24),
  md: rem(28),
  lg: rem(32),
  xl: rem(36),
  2xl: rem(40),
);
