@use './functions' as *;

$sizes: (
  xs: rem(12),
  sm: rem(14),
  md: rem(16),
  lg: rem(18),
  xl: rem(20),
  2xl: rem(24),
  3xl: rem(30),
);

$families: (
  default: (
    'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif,
  ),
  info: (
    'Open Sans',
    sans-serif,
  ),
  brand: (
    'Quicksand',
    sans-serif,
  ),
);
