$color-primary-translucent: hsla(169, 96%, 38%, 0.3);
$color-secondary-translucent: hsla(189, 98%, 38%, 0.3);
$color-success: hsl(120, 85%, 35%);
$color-success-hover: hsl(120, 85%, 37%);
$color-attention: hsl(60, 85%, 50%);
$color-attention-hover: hsl(60, 85%, 52%);
$color-fail: hsl(0, 85%, 65%);
$color-fail-hover: hsl(0, 85%, 63%);
$color-inp-focus: hsl(189, 98%, 38%);

$color-off-white: #fbfcf8;
$color-gray: hsl(0, 0%, 50%);
$color-gray-translucent: hsl(0, 0%, 50%, 0.25);
$color-dark: hsl(0, 0%, 13%);
$color-dark-translucent: hsla(0, 0%, 0%, 0.7);

$glossy-duration: 2.5s;

$padding-xs: 0.25rem;
$padding-sm: 0.5rem;
$padding-md: 0.75rem;
$padding-lg: 1rem;
$padding-xl: 1.25rem;
$padding-2xl: 1.5rem;

$margin-xs: 0.25rem;
$margin-sm: 0.5rem;
$margin-md: 0.75rem;
$margin-lg: 1rem;
$margin-xl: 1.25rem;
$margin-2xl: 1.5rem;

$gap-xs: 0.25rem;
$gap-sm: 0.5rem;
$gap-md: 0.75rem;
$gap-lg: 1rem;
$gap-xl: 1.25rem;
$gap-2xl: 1.5rem;

$radius-xs: 0.25rem;
$radius-sm: 0.5rem;
$radius-md: 0.75rem;
$radius-lg: 1rem;
$radius-xl: 1.25rem;
$radius-2xl: 1.5rem;
$radius-full: 50%;

$icon-xs: 1.25rem;
$icon-sm: 1.5rem;
$icon-md: 2rem;
$icon-lg: 2.5rem;
$icon-xl: 2.75rem;
$icon-2xl: 3.5rem;
$icon-3xl: 4rem;
$icon-4xl: 5rem;

$border-thickness: 0.0625rem solid rgba(0, 0, 0, 0.1);
