@use '../abstracts/' as *;
@use '../theme';

.btnMenu {
  all: unset;
  height: $icon-md;
  width: $icon-md;
  padding: $padding-xs;
  z-index: 1;
  border-radius: $radius-md;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.btnMenu:hover {
  border-radius: $radius-full;
  background-color: var(--color-bg-2);
}

.nav {
  background-color: var(--color-bg-2);
  border: $border-thickness;
  border-color: var(--border-color);
  border-radius: $radius-lg;
  display: block;
  position: absolute;
  top: calc(($header-height - $padding-xs));
  right: $padding-md;
}

.navList {
  display: flex;
  flex-direction: column;
}

.navItem {
  height: fit-content;
  padding: $padding-xs $padding-sm;
  cursor: pointer;
}

.navItem:first-child {
  font-weight: 500;
  border-bottom: $border-thickness;
  border-color: var(--border-color);
  padding: $padding-md;
}

.navItem:last-child {
  border-top: $border-thickness;
  border-color: var(--border-color);
  padding: $padding-md;
}

.navItem:hover {
  background-color: $color-secondary-translucent;
}

.navItem:first-child:hover {
  border-radius: $radius-lg $radius-lg 0 0;
}

.navItem:last-child:hover {
  text-decoration: underline;
  border-radius: 0 0 $radius-lg $radius-lg;
}

.btnTheme {
  all: unset;
  @include flex-center;
  gap: $gap-xs;
}

.themeIcon {
  height: $icon-sm;
  width: $icon-sm;
}
