@import url('./variables.css');
@import url('../../global/css/base.css');

li {
  list-style-type: none;
}

.info-text {
  font-family: var(--info-font-family);
  text-align: justify;
}

a:hover {
  color: var(--color-cta);
}
