@import url('./variables.css');
@import url('../../global/css/base.css');
@import url('../../global/css/components/animations.css');
@import url('./layout/layout.css');
@import url('./components/cards/cards.css');
@import url('./components/cards/card-link.css');
@import url('./components/cards/card-state.css');

li {
  list-style-type: none;
}

.info-text {
  font-family: var(--info-font-family);
  text-align: justify;
}

a:hover {
  color: var(--color-cta);
}
