@import url('../../global/css/variables.css');

:root {
  --card-state-box-shadow: -0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);

  --info-font-family: 'Open Sans', sans-serif;

  --color-dark: #212121;
}

[data-theme='light'] {
  --color-primary: hsl(169, 96%, 38%);
  --color-primary-glossy: hsl(179, 96%, 38%);
  --color-primary-light: hsl(169, 96%, 42%);
  --color-primary-light-hover: hsl(169, 96%, 40%);

  --color-secondary: hsl(189, 98%, 38%);
  --color-secondary-hover: hsl(189, 98%, 35%);

  --color-detail: hsl(16, 40%, 60%);
  --color-cta: #911f08;
  --color-cta-hover: hsl(10, 90%, 27%);

  --title-color: hsl(0, 0%, 5%);
  --text-color: hsl(0, 0%, 10%);
  --color-bg: hsl(45, 29%, 97%);
  --color-bg-translucent: hsla(0, 0%, 100%, 0.5);

  --component-border: solid 0.1rem hsl(0, 0%, 80%);
  --component-line-color: hsl(0, 0%, 80%);
  --component-bg-color: hsl(75, 40%, 98%);
  --component-bg-color-dark: hsl(75, 40%, 96%);
  --component-status-bg-color: #212121;

  --form-component-border: solid 0.125rem hsl(0, 0%, 82%);
  --inp-focus-color: hsl(189, 98%, 38%);

  --skeleton-start: rgba(0, 0, 0, 0.2);
  --skeleton-middle: rgba(0, 0, 0, 0.1);
  --skeleton-end: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
  /* Reduced 20% from luminosity */
  --color-primary: hsl(169, 96%, 18%);
  --color-primary-glossy: hsl(179, 96%, 18%);
  --color-primary-light: hsl(169, 96%, 22%);
  --color-primary-light-hover: hsl(169, 96%, 20%);

  /* Reduced 40% from luminosity */
  --color-secondary: hsl(189, 98%, 18%);
  --color-secondary-hover: hsl(189, 98%, 15%);

  --color-detail: hsl(16, 40%, 25%);
  --color-cta: hsl(10, 60%, 25%);
  --color-cta-hover: hsl(10, 60%, 23%);

  --text-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 95%);
  --color-bg: #000;
  --color-bg-translucent: hsl(0, 0, 0%, 0.5);

  --component-border: solid 0.1rem hsl(0, 0%, 20%);
  --component-line-color: hsl(0, 0%, 20%);
  --component-bg-color: hsl(0, 0%, 11%);
  --component-bg-color-dark: hsl(0, 0%, 8%);
  --component-status-bg-color: #dedede;

  --form-component-border: solid 0.125rem hsl(0, 0%, 18%);
  --inp-focus-color: hsl(169, 96%, 25%);

  --skeleton-start: rgba(255, 255, 255, 0.2);
  --skeleton-middle: rgba(255, 255, 255, 0.1);
  --skeleton-end: rgba(255, 255, 255, 0.2);
}
