@import url('../../global/css/variables.css');

:root {
  --card-state-box-shadow: -0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);

  --text-font-family: 'Roboto Condensed', sans-serif;
  --title-font-family: 'Roboto Slab', serif;
  --info-font-family: 'Open Sans', sans-serif;

  --color-secondary: hsl(220, 41%, 20%);
  --color-secondary-hover: hsl(220, 41%, 25%);
}

[data-theme='light'] {
  --color-primary: hsl(169, 96%, 38%);
  --color-primary-light: hsl(169, 96%, 42%);
  --color-primary-light-hover: hsl(169, 96%, 40%);

  --title-color: hsl(220, 41%, 25%);
  --text-color: #212121;
  --color-bg: hsl(45, 29%, 97%);

  --component-border: solid 0.1rem hsl(0, 0%, 80%);
  --component-line-color: hsl(0, 0%, 80%);
  --component-bg-color: hsl(75, 40%, 98%);
  --component-bg-color-dark: hsl(0, 0%, 96%);

  --form-component-border: solid 0.125rem hsl(0, 0%, 82%);
  --inp-focus-color: hsl(169, 96%, 38%);

  --skeleton-start: rgba(0, 0, 0, 0.2);
  --skeleton-middle: rgba(0, 0, 0, 0.1);
  --skeleton-end: rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] {
  --color-primary: hsl(169, 96%, 15%);
  --color-primary-light: hsl(169, 96%, 18%);
  --color-primary-light-hover: hsl(169, 96%, 20%);

  --text-color: #dcdcdc;
  --title-color: #faf9f6;
  --color-bg: #000;
 
  --component-border: solid 0.1rem hsl(0, 0%, 20%);
  --component-line-color: hsl(0, 0%, 20%);
  --component-bg-color: hsl(0, 0%, 11%);
  --component-bg-color-dark: hsl(0, 0%, 8%);

  --form-component-border: solid 0.125rem hsl(0, 0%, 18%);
  --inp-focus-color: hsl(169, 96%, 25%);

  --skeleton-start: rgba(255, 255, 255, 0.2);
  --skeleton-middle: rgba(255, 255, 255, 0.1);
  --skeleton-end: rgba(255, 255, 255, 0.2);
}
