.statement-amount {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.statement-amount span {
  font-weight: 600;
  font-size: var(--text-sm);
}

.amount-container {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-md);
}

.amount-container .span-amount {
  font-size: var(--text-lg);
}

.amount-container .btn-icon {
  padding: 0;
}

.cards.feature-cards {
  padding: var(--padding-sm);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 425px) {
  .cards.feature-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 560px) {
  .cards.feature-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
