.section {
  margin-bottom: 0;
}

.section:last-child {
  margin: 3rem 0 1.5rem 0;
}

.statement {
  height: 10rem;
}

.statement .amount {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.amount span {
  font-weight: 600;
  font-size: 1rem;
}

.amount-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.amount-container .span-amount {
  font-size: 1.2rem;
}

.amount-container .visibility-btn {
  cursor: pointer;
}

.cards.feature-cards {
  padding: var(--container-padding);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 425px) {
  .cards.feature-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 560px) {
  .cards.feature-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
