.info-container {
  border-top: var(--component-border);
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.info-item,
.info-item__container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.info-label {
  color: hsl(0, 0%, 50%);
  font-weight: 500;
}

.info-value {
  min-height: 1.2rem;
  width: 10rem;
}

.info-container.loan-details .icon {
  height: var(--icon-lg);
}

.info-container.loan-details .info-item {
  flex-direction: row;
}
