.info-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.info-item,
.info-item__container {
  display: flex;
  gap: var(--gap-xs);
}

.info-container .info-item {
  flex-direction: row;
}

.info-item__container {
  flex-direction: column;
}

.info-label {
  color: var(--color-gray-light);
  font-weight: 500;
}

.info-value {
  min-height: var(--text-md);
  width: 10rem;
}

.info-container .icon {
  height: var(--icon-lg);
}
