.card-data__header > .span-status {
  color: var(--color-bg);
  border-top-right-radius: var(--component-border-radius);
  border-bottom-left-radius: var(--component-border-radius);
  background-color: var(--text-color);
  padding: 0.2rem 0.6rem;
  position: absolute;
  top: 0;
  right: 0;
}

.card-data__header .span-fail {
  color: var(--color-fail);
}

.card-data__header .span-success {
  color: var(--color-success);
}

.card-data__header .span-date {
  padding-left: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.section.new-request .form {
  align-self: center;
}

#search-creditor-icon {
  width: 1.9rem;
}
