.card-data__header .span-success {
  color: var(--color-success);
}

.card-data__header .span-fail {
  color: var(--color-fail);
}

.section.new-request .form {
  align-self: center;
}

#search-creditor-icon {
  width: 1.9rem;
}
