.cover-photo {
  background: linear-gradient(
    360deg,
    var(--color-bg) 40%,
    var(--color-primary-translucent)
  );
  padding: 1.5rem 1.8rem 1rem 1.8rem;
  margin: -0.8rem;
  margin-bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.photo-container {
  width: 150px;
  height: 150px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: var(--radius-full);
  border: 0.2rem solid var(--component-line-color);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: transparent;
}

.profile-name {
  min-height: 2rem;
  min-width: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .profile-container {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 426px) {
  .cover-photo {
    justify-content: start;
  }
}
