:root {
  --color-primary-translucent: hsla(169, 96%, 38%, 0.3);
  --color-off-white: #fbfcf8;

  --container-padding: 0.8rem;
  --header-height: 3.5rem;

  --component-border-radius: 0.5rem;
  --component-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);
  --icon-size: 2.5rem;
}
