@use '@styles/abstracts' as *;

.container {
  @include flex-center;
  gap: map-get($gaps, sm);
}

.avatar {
  @include flex-center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-primary-200);
  box-shadow: map-get($shadows, sm);
  border-radius: 50%;
  font-size: map-get($font-sizes, xl);
  font-weight: 700;
}
