@use 'sass:map';
@use '@styles/abstracts' as *;

.container {
  @include flex-container(sm, row, true);
  align-items: center;
}

.avatar {
  @include flex-center;
  width: rem(40);
  height: rem(40);
  background-color: var(--color-primary-200);
  box-shadow: map.get($shadows, sm);
  border-radius: 50%;
  font-size: map.get($font-sizes, xl);
  font-weight: 700;
}
