@use '@styles/abstracts' as *;

.container {
  @include flex-center;
  gap: $gap-sm;
}

.avatar {
  @include flex-center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-secondary);
  border-radius: 50%;
  font-weight: bold;
}
