.card-state__text .info-text {
  text-align: center;
}

.card-state__empty {
  width: 100%;
  padding: var(--container-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-image: linear-gradient(
    to top,
    var(--color-accent-translucent),
    #ffffff00 90%
  );
  background-repeat: no-repeat;
  box-shadow: -0rem 0.2rem 0.1rem #0000002b;
}

.card-state__empty > * {
  flex: 1;
  width: 50%;
}

@media screen and (max-width: 369px) {
  .card-state__empty {
    flex-direction: column;
  }

  .card-state__img {
    width: 100%;
  }
}
