.card-link {
  background-color: var(--color-accent);
  border-radius: 1rem;
  width: 6rem;
  height: 7rem;

  align-items: center;
  justify-content: center;
  transform: scale(100%) translateY(0);
}

.card-link__icon {
  width: 70%;
}

.card-link__label {
  color: var(--color-text);
}

/* Hover */
.card-link:hover {
  background-color: var(--color-accent-hover);
  transform: translateY(-0.6rem);
}
