.card-link {
  background-color: var(--color-accent);
  border: none;
  border-radius: 1rem;
  width: 110px;
  height: 130px;
  padding: 0.2em;

  align-items: center;
  justify-content: center;
  transform: scale(100%) translateY(0);
}

.card-link__icon {
  width: 70%;
}

.card-link__label {
  color: var(--color-text);
  text-align: center;
}

/* Hover */
.card-link:hover {
  background-color: var(--color-accent-hover);
  transform: translateY(-0.6rem);
}
