.card-state {
  width: 100%;
  border-radius: var(--component-border-radius);
  box-shadow: var(--card-state-box-shadow);
  display: flex;
  gap: 0.5rem;
}

.card-state__content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.card-state__header,
.card-state__label,
.card-state__value,
.card-state__footer {
  height: 1.8rem;
  border-radius: var(--component-border-radius);
  background: linear-gradient(
    90deg,
    var(--skeleton-start) 0%,
    var(--skeleton-middle) 50%,
    var(--skeleton-end) 100%
  );
  background-size: 200% 100%;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.card-state__item {
  display: flex;
  gap: 0.5rem;
}

.card-state__label {
  width: 30%;
}

.card-state__value {
  width: 70%;
}

.card-state__text {
  margin-right: 1rem;
}

.card-state__text .info-text {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.card-state__loading {
  flex-direction: column;
  background-color: var(--component-bg-color);
  border: 0.1rem solid var(--component-border-color);
  padding: var(--container-padding);
}

.card-state__empty,
.card-state__error {
  background-image: linear-gradient(
    to top,
    var(--color-accent-translucent),
    #ffffff00 90%
  );
  align-items: center;
  justify-content: center;
  gap: 0;
}

.card-state__empty > *,
.card-state__error > * {
  flex: 1;
  width: 50%;
}

@media screen and (max-width: 375px) {
  .card-state__empty,
  .card-state__error {
    flex-direction: column-reverse;
    margin-top: 0.5rem;
  }

  .card-state__text {
    margin: 0;
  }

  .card-state__text .info-text:last-child {
    margin: 0;
  }

  .card-state__img {
    width: 100%;
  }
}
