@use 'sass:map';
@use '@styles/abstracts' as *;

$container-size: md;

.container {
  @include flex-container($container-size, row, false, true, false);
  justify-content: space-around;
  background-color: var(--color-neutral-10);
}

%base-link {
  @include flex-container(xs, column, true);
  align-items: center;
}

.linkItem {
  @extend %base-link;
}

.linkItemActive {
  @extend %base-link;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: calc(0rem - map.get($paddings, $container-size));
    width: 120%;
    height: rem(4);
    background-color: var(--color-secondary-300);
    border-radius: 0 0 map.get($radius, sm) map.get($radius, sm);
  }

  font-weight: 500;
}
