@use '@styles/abstracts' as *;

.container {
  display: flex;
  justify-content: space-around;
}

.btnTheme,
.linkItem {
  @include flex-center;
  flex-direction: column;
  padding: $padding-md 0;
}

.linkItemActive {
  @extend .linkItem;
  border-top: 0.25rem solid var(--color-secondary-300);
  font-weight: 500;
}
