@use 'sass:map';
@use '@styles/abstracts' as *;

.container {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-neutral-10);
}

.btnTheme,
.linkItem {
  @include flex-center;
  flex-direction: column;
  padding: map.get($paddings, md) 0;
}

.linkItemActive {
  @extend .linkItem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 120%;
    height: rem(4);
    background-color: var(--color-secondary-300);
    border-radius: 0 0 map.get($radius, sm) map.get($radius, sm);
  }

  font-weight: 500;
}
