.info-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.info-item__container {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.info-item {
  display: flex;
  gap: var(--gap-xs);
  flex-direction: column;
}

.info-label {
  color: var(--color-gray-light);
  font-weight: 500;
}

.info-value {
  min-height: calc(var(--text-md) + 0.25rem);
  width: 10rem;
}

.info-container .icon-state {
  height: var(--icon-xl);
  width: var(--icon-xl);
}

.info-container .info-icon {
  height: var(--icon-xl);
}

.info-block {
  display: flex;
  gap: var(--gap-sm);
}

