.info-container.account-details {
  padding: 0;
}

.cover-photo {
  background: linear-gradient(
    360deg,
    transparent 20%,
    var(--color-primary-translucent) 80%
  );
  padding: var(--padding-xl);
  margin: calc(0rem - var(--padding-xl));
  margin-bottom: 0;
  border-bottom: var(--border-thickness);
  border-color: var(--line-color);
  position: relative;
  display: flex;
  justify-content: center;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-md);
}

.photo-container {
  width: 150px;
  height: 150px;
  position: relative;
  background-color: var(--color-dark-translucent);
  border-radius: var(--radius-full);
  border: var(--border-thickness);
  border-color: var(--border-color);
  box-shadow: var(--box-shadow-md);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: transparent;
}

.profile-name {
  min-height: 2rem;
  min-width: 15rem;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .profile-container {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 426px) {
  .cover-photo {
    justify-content: start;
  }
}
