@media (min-width: 767px) {
  .total-investments {
    font-size: 1.8rem;
  }
  .visibility-icon {
    width: 2.5rem;
  }

  .card-item {
    width: 12rem;
    height: 14rem;

    /* display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; */
  }

  .card-item .label {
    font-size: 1.5rem;
  }
}
