@media (min-width: 767px) {
  /* main */
  .section {
    width: 50%;
  }

  .section + .section {
    border-top: none;
    margin-bottom: 4rem;
  }

  .content-wrapper {
    height: calc(100vh - 160px - 64px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .items-container {
    justify-content: flex-start;
  }
}
