@import url('../../css/components/button.css');

.btn {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 1rem;

  background: linear-gradient(90deg, #04c8c5, #04c8a4, #04c8c5);
  background-size: 200% 100%;
  animation: glossy 1.5s linear infinite;
}

@keyframes glossy {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0% 0;
  }
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.5rem;
}

.text-strong {
  display: inline;
  padding: 0;
  color: var(--color-primary);
}

@media (min-width: 768px) {
  .h1 {
    font-size: 2.5rem;
  }

  .h2 {
    font-size: 2rem
  }

  .text {
    font-size: 1.2rem;
  }
}