@import url("./base.css");
@import url("./components.css");

.header {
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  background-color: var(--color-bg-end);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-container,
.login-container {
  padding: 0.75rem;
  font-size: 1rem;
}

.icon {
  width: 1.5rem;
}

.brand-icon {
  width: 2.25rem;
}

.brand-name {
  font-family: var(--brand-font-family);
}

.brand-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.login-container a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.section {
  height: 100vh;
  box-sizing: border-box;
  padding: 4rem 10% 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    var(--color-bg-start),
    var(--color-bg-end),
    var(--color-bg-end),
    var(--color-bg-start)
  );
}

.img-container {
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.hero-section {
  padding-bottom: 4rem;
  background-image: linear-gradient(
    to top,
    var(--color-bg-start),
    var(--color-bg-end)
  );
}

.mission-section {
  justify-content: center;
}

.mission-section .content-container {
  max-width: 800px;
}

.feature-section .img-container {
  flex: 2;
}

.feature-section .content-container {
  flex: 3;
  text-align: left;
  align-items: flex-start;
}

.feature-section .h2 {
  color: var(--color-secondary);
}

.feature-section .text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-section:nth-of-type(even) {
  flex-direction: row-reverse;
}

.feature-section:nth-of-type(even) .content-container {
  align-items: flex-end;
  text-align: right;
}

.footer {
  padding: 3rem;
  background-color: var(--color-bg-end);
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer .h2 {
  color: var(--color-secondary);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.social-media {
  display: flex;
  gap: 0.5rem;
}

.social-media__icon {
  width: 2rem;
}

@media (max-width: 967px) {
  .section {
    flex-direction: column;
    justify-content: center;
  }

  .img-container {
    height: 15rem;
  }

  .feature-section:nth-of-type(even) {
    flex-direction: column;
    text-align: left;
  }

  .feature-section:nth-of-type(even) .content-container {
    align-items: flex-start;
    text-align: left;
  }

  .footer {
    flex-direction: column;
  }
}
