@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --color-secondary: #04be9c;
  --color-bg-start: #141b22;
  --color-bg-end: #111315;
  --color-font: #fbfcf8;
  --title-font-family: "Quicksand", sans-serif;
  --text-font-family: "Roboto Condensed", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--text-font-family);
  color: var(--color-font);
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  width: 100%;
}

.landing__header {
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  background-color: var(--color-bg-end);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing__brand,
.landing__login {
  padding: 0.75rem;
}

.landing__login a {
  font-size: 0.75rem;
}

.landing__btn {
  width: fit-content;
  background-image: linear-gradient(to right, #04be9c, #03ac8d);
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  border: none;
}

.landing__icon {
  width: 1.5rem;
}

.brand__icon {
  width: 2.25rem;
}

.brand__name {
  font-family: var(--title-font-family);
  font-weight: 600;
  font-size: 0.75rem;
}

.landing__brand {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.landing__login a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.landing__section:first-of-type {
  background-image: linear-gradient(
    to top,
    var(--color-bg-start),
    var(--color-bg-end)
  );
}

.landing__section {
  background-image: linear-gradient(
    to bottom,
    var(--color-bg-start),
    var(--color-bg-end),
    var(--color-bg-end),
    var(--color-bg-start)
  );
}

.landing__section {
  height: 100vh;
  box-sizing: border-box;
  padding: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
}

/* .landing__section:first-of-type {
  background-color: red;
}

.landing__section:nth-of-type(2) {
  background-color: rgb(38, 0, 255);
} */

.landing__h1 {
  font-size: 3rem;
}

.landing__h2 {
  font-size: 2rem;
}

.landing__img-container {
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
}

.landing__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.landing__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.landing__down-icon {
  width: 4rem;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.landing__strong {
  display: inline;
  padding: 0;
  color: var(--color-secondary);
}

.landing__section:nth-of-type(2) {
  justify-content: center;
}

.landing__section:nth-of-type(2) .landing__content {
  max-width: 800px;
}

@media (max-width: 967px) {
  .landing__section {
    flex-direction: column;
    justify-content: center;
  }

  .landing__img-container {
    height: 15rem;
  }

  .landing__h1 {
    font-size: 2.5rem;
  }
}
