@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --color-secondary: #04be9c;
  --color-bg: #111315;
  --color-font: #fbfcf8;
  --title-font-family: "Quicksand", sans-serif;
  --text-font-family: "Roboto Condensed", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--text-font-family);
  color: var(--color-font);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-bg);
  height: 100%;
  width: 100%;
}

.landing__header {
  z-index: 1000;
  background-color: var(--color-bg);
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing__brand,
.landing__login {
  padding: 1rem;
}


.landing__icon {
  width: 2em;

}

.brand__icon {
  width: 3rem;
}

.brand__name {
  font-family: var(--title-font-family);
  font-weight: 600;
}

.landing__brand {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.landing__login {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.landing__section {
  height: 100vh;
  padding: 6rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10rem;
  align-items: center;
  position: relative;
}

.landing__section:first-of-type {
  margin-top: 4rem;
  height: calc(100vh - 16rem);
}

.landing__h1 {
  font-size: 4rem;
}

.landing__img-container {
  overflow: hidden;
}

.landing__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1.5rem;
}

.landing__content {}

.landing__down-icon {
  width: 4rem;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.landing__brand {
  display: inline;
  padding: 0;
  color: var(--color-secondary)
}

.landing__section:nth-of-type(2) {
  grid-template-columns: 1fr;
  text-align: center;
  font-size: 2rem;
}