@use 'sass:map';
@use '@styles/abstracts' as *;

.app {
  width: 100vw;
  height: 100dvh;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  gap: map.get($gaps, lg);
  background-color: var(--color-neutral-0);
  flex: 1;
}
