@use 'sass:map';
@use '@styles/abstracts' as *;

.appWrapper {
  @include flex-container(2xl, column);
  width: 100vw;
  height: 100dvh;
  max-width: 768px;
  position: relative;
  overflow: hidden;

  .motionPage {
    width: 100%;
    height: 100%;
  }

  .content {
    @include flex-container(xl, column);
    background-color: var(--color-neutral-0);
    flex: 1;
  }
}
