.content-container {
  height: 100vh;
}

.profile-info{
  background-color: var(--primary-color);
  padding: var(--container-padding);
  border-radius: 1rem;
}
.profile-info span {
  color: var(--text-color);
}
