@import url('menu.css');

.header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow);
  z-index: 1;

  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand-name {
  font-size: 0.8rem;
  margin-left: 0.8rem;
}
