@use './colors' as colors;

$light: (
  glossy-start: map-get(colors.$light, secondary-200),
  glossy-middle: map-get(colors.$light, secondary-400),
  glossy-end: map-get(colors.$light, secondary-200),
  skeleton-start: map-get(colors.$light, neutral-transparent-10),
  skeleton-middle: map-get(colors.$light, neutral-transparent-20),
  skeleton-end: map-get(colors.$light, neutral-transparent-10),
);

$dark: (
  glossy-start: map-get(colors.$dark, secondary-200),
  glossy-middle: map-get(colors.$dark, secondary-400),
  glossy-end: map-get(colors.$dark, secondary-200),
  skeleton-start: map-get(colors.$dark, neutral-transparent-10),
  skeleton-middle: map-get(colors.$dark, neutral-transparent-20),
  skeleton-end: map-get(colors.$dark, neutral-transparent-10),
);
