@use 'sass:map';
@use '@styles/abstracts' as *;

%card-container {
  display: flex;
  flex-direction: column;
  gap: map.get($gaps, lg);
  padding: map.get($paddings, lg);
  background-color: var(--color-neutral-20);
  border-radius: map.get($radius, xl);
  box-shadow: map.get($shadows, lg);
}
