.table {
  background-color: var(--second-color-light);
  width: fit-content;
  margin: auto;
  border-collapse: collapse;
  text-align: left;
  box-shadow: var(--box-shadow);
  border-radius: 0.8rem;
}

.table thead tr {
  background-color: var(--third-color);
  color: var(--text-color);
  text-align: left;
}

.table th,
td {
  padding: 0.5rem 0.7rem;
  color: var(--text-color);
}

.table th:first-child {
  border-top-left-radius: 0.8rem;
}

.table th:last-child {
  border-top-right-radius: 0.8rem;
}

.table tbody tr {
  border-top: 1px solid var(--line-color);
}

/* Hover */
.table tbody tr:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.table tbody tr:last-child:hover td:first-child {
  border-bottom-left-radius: 0.8rem;
}

.table tbody tr:last-child:hover td:last-child {
  border-bottom-right-radius: 0.8rem;
}
