.header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--color-secondary);

  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name {
  font-size: 0.8rem;
  margin-left: 0.8rem;
}

.menu-icon {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
  padding: 0.3rem;
}

.menu-options {
  background-color: var(--color-accent);
  color: var(--color-text);
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 1rem 0.8rem;
  display: none;
  position: absolute;
  right: calc(var(--container-padding) + 0.2rem);
  top: var(--header-height);
}

.menu-options-block {
  display: block;
}

.menu-list-item + .menu-list-item {
  margin-top: 0.3rem;
}

/* Hover */
.menu-icon:hover {
  cursor: pointer;
}
