@media (min-width: 767px) {
  /* main container */
  .content-container {
    max-width: 1400px;
  }

  /* footer */
  .footer-text {
    flex-direction: row;
  }

  .footer-text p + p::before {
    content: " - ";
  }
}
