.table {
  background-color: var(--second-color-light);
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  box-shadow: var(--box-shadow);
}

.table thead tr {
  background-color: var(--third-color);
  color: var(--text-color);
  text-align: left;
}

.table th,
td {
  padding: 0.8rem 1rem;
  color: var(--text-color);
}

.table tbody tr {
  border-bottom: 1px solid var(--line-color);
}

/* Hover */
.table tbody tr:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}