.header {
  color: var(--text-color);
  height: var(--header-height);
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--primary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name,
.menu-icon {
  padding: var(--container-padding);
}

.brand-name {
  font-size: 0.8rem;
}

.menu-icon {
  width: 32px;
  height: 32px;
}

.menu-options {
  background-color: var(--second-color-light);
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 1rem .8rem;
  display: none;
  position: absolute;
  right: calc(var(--container-padding) + 0.2rem);
  top: 2.3rem;
}

.menu-options-block {
  display: block;
}

.menu-list-item {
  list-style: none;
}

.menu-list-item + .menu-list-item {
  margin-top: .3rem;
}

/* Hover */
.menu-icon:hover {
  cursor: pointer;
}

.menu-list-item:hover {
  cursor: pointer;
  color: var(--accent-color);
}
