@media (min-width: 767px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .header__brand-name {
    font-size: 1rem;
  }

  /* main container */
  .main {
    max-width: 1400px;
  }

  /* footer */
  .footer__content {
    flex-direction: row;
  }

  .footer__content a + p::before {
    content: " - ";
  }

  .table {
    font-size: 1.5rem;
  }

  .no-events__img {
    height: 400px;
  }
}
