@media (min-width: 767px) {
  /* main container */
  .main {
    /* max-width: 1200px; */
  }

  /* Component Group */
  .component-group {
    /* flex-direction: row; */
    align-items: center;
  }

  /* footer */
  .footer__content {
    flex-direction: row;
  }

  .footer__content a + p::before {
    content: " - ";
  }
}
