:root {
  --container-padding: 0.8rem;
  --color-primary: #253659;
  --color-accent: #0ac2af;
  --color-accent-hover: #04d2bd;
  --color-accent-translucent: rgba(10, 194, 176, 0.3);
  --color-secondary: #04bf9d;
  --color-detail: #f28157;
  --color-cta: #bf665e;
  --color-cta-hover: hsl(5, 43%, 50%);
  --color-text: #253659;
  --color-background: #faf9f6; 
  --box-shadow-default: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
  --box-shadow: 0.1rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  --header-height: 3.5rem;

  --component-border-color: #ccc;
  --component-border-radius: 0.5rem;
  --component-bg-color: #fff;
  --component-box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.5);

  --default-font-family: "Roboto Condensed", sans-serif;
  --title-font-family: "Roboto Slab", sans-serif;
}

[data-theme="dark"] {
  --color-primary: #faf9f6;
  --color-accent: #5a5a5a;
  --color-accent-hover: #777;
  --color-accent-translucent: hsla(174, 90%, 30%, 0.3);
  --color-secondary: hsl(169, 95%, 20%);
  --color-detail: hsl(16, 86%, 80%);
  --color-cta: hsl(5, 43%, 50%);
  --color-cta-hover: hsl(5, 43%, 56%);
  --color-text: #faf9f6;
  --color-background: #000;
  --box-shadow-default: 0 0 .3rem rgba(255, 255, 255, 0.2);
  --box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);

  --component-border-color: #454545;
  --component-bg-color: #262626;
  --component-box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.3);
}
