@import url('menu.css');

.header {
  padding: var(--padding-md);
  height: var(--header-height);
  width: 100%;
  max-width: 768px;
  background-color: var(--color-primary);
  z-index: 1;

  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .icon {
  height: var(--icon-xl);
  padding: var(--padding-xs);
  cursor: pointer;
}
