.footer {
  padding: var(--container-padding);
  background-color: var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer__icon {
  width: 4rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

@media (min-width: 768px) {
  .footer__content {
    flex-direction: row;
  }

  .footer__content a + p::before {
    content: ' - ';
  }
}
