.text {
  line-height: 1.25;
}

.container {
  min-height: 100dvh;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #000;
  padding: var(--padding-xl);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-container {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.brand-icon {
  height: var(--icon-lg);
}

.brand-name {
  font-family: var(--brand-font-family);
}

.content-container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer {
  background-color: #000;
  padding: var(--padding-2xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-xxl);
}
