@import url('../../global/css/variables.css');

:root {
  --color-primary: hsl(169, 96%, 38%);

  --color-secondary: hsl(189, 98%, 38%);
  --color-secondary-hover: hsl(189, 98%, 35%);

  --glossy-start: hsl(189, 98%, 38%);
  --glossy-middle: hsl(189, 98%, 58%);
  --glossy-end: hsl(189, 98%, 38%);

  --color-bg-start: hsl(250, 100%, 5%);
  --color-bg-end: hsl(250, 100%, 2%);

  --border-color: hsl(0, 0%, 30%);

  --title-color: hsl(169, 96%, 38%);
  --text-color: #fbfcf8;
}
