.card {
  max-width: 300px;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  gap: var(--gap-lg);
  transition: all 0.2s ease-in-out;
}

/* Hover */
.card:hover {
  box-shadow: 0.2rem 0.2rem 0.3rem #00000033;
}

.cards-container {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-xl);
}
