@import url('../button.css');

.card-data {
  min-width: 260px;
  max-width: 300px;
  border: var(--component-border);
  border-radius: var(--component-border-radius);
  background-color: var(--component-bg-color);
  padding: var(--container-padding);

  position: relative;
  flex: 1;
}

.card-data__header {
  padding: 0 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--color-detail);
}

.card-data__content {
  margin: 0;
  padding: 0 0.2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-data__item {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.card-data__label {
  text-align: left;
}

.card-data__value {
  text-align: right;
}

.card-data__item + .card-data__item {
  border-top: solid 0.1rem var(--component-line-color);
}

.card-data__value {
  font-style: italic;
}

.card-data__footer {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.card-data__btn {
  width: 100%;
}

.card-data__header .card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-data__header .icon {
  height: 2rem;
}

.card-data__header > .span-status {
  color: var(--color-bg);
  font-size: 1rem;
  border-top-right-radius: var(--component-border-radius);
  border-bottom-left-radius: var(--component-border-radius);
  background-color: var(--text-color);
  padding: 0.2rem 0.6rem;
  position: absolute;
  top: 0;
  right: 0;
}

.card-data__header .span-fail {
  color: var(--color-fail);
}

.card-data__header .span-success {
  color: var(--color-success);
}

.card-data__header .span-date {
  padding-left: 0.2rem;
  font-size: 0.8rem;
  font-weight: 500;
}
