@import url('../button.css');

.card-data {
  border: var(--component-border);
  border-radius: var(--component-border-radius);
  background-color: var(--component-bg-color);
  padding: var(--container-padding);

  flex: 1;
}

.card-data__header {
  padding: 0 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--color-detail);
}

.card-data__content {
  margin: 0;
  padding: 0 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex: 1;
}

.card-data__item {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.card-data__label {
  text-align: left;
}

.card-data__value {
  text-align: right;
}

.card-data__item + .card-data__item {
  border-top: solid 0.1rem var(--component-line-color);
}

.card-data__value {
  font-style: italic;
}

.card-data__footer {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.card-data__btn {
  width: 100%;
}

.card-data__header .loan-modality {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-data__header .icon {
  height: 2rem;
}
