.main {
  max-width: 1200px;
  min-height: 630px;
  margin: auto;
  margin-top: var(--header-height);
  padding: var(--container-padding);
  padding-bottom: 0;
  background-color: var(--color-background);
}
