@use '../abstracts' as *;
@use '../theme';

.header {
  @include flex-center;
  padding: $padding-md;
  height: $header-height;
  width: 100%;
  max-width: 768px;
  background-color: var(--color-primary);
  z-index: 1;

  justify-content: space-between;
  position: fixed;
  top: 0;
}

.header .icon {
  height: $icon-xl;
  padding: $padding-xs;
  cursor: pointer;
}
