@use '../abstracts' as *;
@use '../theme';

.app {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: $header-height;
  background-color: var(--color-bg-1);
  padding: $padding-xl;
  flex: 1;
}
