@use '@styles/abstracts' as *;

.btn {
  @include btn-unset;
  position: relative;
}

.btn svg {
  width: $icon-sm;
  height: $icon-sm;
}

.btn .count {
  @include flex-center;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #ef4444;
  color: white;
  border-radius: 50%;
  font-size: var(--font-xs);
  width: calc($icon-sm - 20%);
  height: calc($icon-sm - 20%);
}
