@use '@styles/abstracts' as *;

.btn {
  position: relative;
}

.btn svg {
  width: $icon-sm;
  height: $icon-sm;
}

.btn .count {
  @include flex-center;
  position: absolute;
  top: -0.1rem;
  right: -0.4rem;
  background-color: var(--color-cta);
  color: var(--color-neutral-0);
  border-radius: $radius-full;
  font-size: var(--font-xs);
  width: calc($icon-xs);
  height: calc($icon-xs);
}
