@use './abstracts/' as *;
@use './theme';
@use './typography';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-1);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

a,
button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

svg {
  color: var(--text-color);
  width: $icon-xs;
  height: $icon-xs;
  @include flex-center;
}
