@use 'sass:map';
@use './abstracts/' as *;
@use '@styles/theme';
@use './typography';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-neutral-0);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

a,
button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

svg {
  color: var(--color-neutral-500);
  width: map.get($icons, xs);
  height: map.get($icons, xs);
  @include flex-center;
}

input[type='radio'] {
  @include flex-center;
  cursor: pointer;
  appearance: none;
  width: rem(20);
  height: rem(20);
  border: rem(2) solid var(--color-neutral-50);
  border-radius: 50%;

  &:before {
    content: '';
    width: rem(12);
    height: rem(12);
    border-radius: 50%;
    background-color: transparent;
  }

  &:checked {
    border: rem(2) solid var(--color-secondary-300);
    &:before {
      background-color: var(--color-secondary-300);
    }
  }
}
