@use './abstracts/' as *;
@use './theme';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $text-font-family;
  font-size: $text-md;
  color: var(--text-color);
}

body {
  background-color: var(--color-bg-1);
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: $title-font-family;
  color: var(--title-color);
}

h1 {
  font-size: $title-lg;
}

h2 {
  
  font-size: $title-md;
}

h3 {
  font-size: $title-sm;
}

li {
  list-style-type: none;
}

svg {
  color: var(--text-color);
  width: $icon-md;
  height: $icon-md;
  // stroke-width: 0.5;
  @include flex-center;
}

.info-text {
  font-family: $info-font-family;
}
