@use 'sass:map';
@use '@styles/abstracts' as *;

html {
  font-size: 100%;
}

* {
  font-family: map.get($font-families, default);
}

h1,
h2,
h3 {
  color: var(--color-neutral-500);
}

p,
span {
  color: var(--color-neutral-300);
  font-size: map.get($font-sizes, md);
}

.info-text {
  font-family: map.get($font-families, info);
}

@media (min-width: 768px) {
  html {
    font-size: 125%;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 135%;
  }
}
