@use '@styles/abstracts' as *;

html {
  font-size: 100%;
}

* {
  font-family: map-get($font-families, default);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
}

p,
span {
  font-size: map-get($font-sizes, md);
}

.info-text {
  font-family: map-get($font-families, info);
}

@media (min-width: 768px) {
  html {
    font-size: 125%;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 135%;
  }
}
