$text-font-family: 'Roboto', sans-serif;
$title-font-family: 'Poppins', sans-serif;
$info-font-family: 'Open Sans', sans-serif;
$brand-font-family: 'Quicksand', sans-serif;

$color-primary-translucent: hsla(169, 96%, 38%, 0.3);
$color-secondary-translucent: hsla(189, 98%, 38%, 0.3);
$color-success: hsl(120, 85%, 35%);
$color-success-hover: hsl(120, 85%, 37%);
$color-attention: hsl(60, 85%, 50%);
$color-attention-hover: hsl(60, 85%, 52%);
$color-fail: hsl(0, 85%, 65%);
$color-fail-hover: hsl(0, 85%, 63%);
$color-inp-focus: hsl(189, 98%, 38%);

$color-off-white: #fbfcf8;
$color-gray: hsl(0, 0%, 50%);
$color-gray-translucent: hsl(0, 0%, 50%, 0.25);
$color-dark: hsl(0, 0%, 13%);
$color-dark-translucent: hsla(0, 0%, 0%, 0.7);

$glossy-duration: 2.5s;

$header-height: 3.5rem;

$padding-xs: 0.25rem;
$padding-sm: 0.5rem;
$padding-md: 0.75rem;
$padding-lg: 1rem;
$padding-xl: 1.25rem;
$padding-2xl: 1.5rem;

$margin-xs: 0.25rem;
$margin-sm: 0.5rem;
$margin-md: 0.75rem;
$margin-lg: 1rem;
$margin-xl: 1.25rem;
$margin-2xl: 1.5rem;

$gap-xs: 0.25rem;
$gap-sm: 0.5rem;
$gap-md: 0.75rem;
$gap-lg: 1rem;
$gap-xl: 1.25rem;
$gap-2xl: 1.5rem;

$radius-sm: 0.25rem;
$radius-md: 0.5rem;
$radius-lg: 0.75rem;
$radius-xl: 1rem;
$radius-2xl: 1.25rem;
$radius-full: 50%;

$title-sm: 1.25rem;
$title-md: 1.5rem;
$title-lg: 1.75rem;
$title-xl: 2rem;

$text-sm: 0.75rem;
$text-md: 1rem;
$text-lg: 1.25rem;

$icon-sm: 1.5rem;
$icon-md: 2rem;
$icon-lg: 2.5rem;
$icon-xl: 2.75rem;
$icon-2xl: 3.5rem;
$icon-3xl: 4rem;
$icon-4xl: 5rem;

$border-thickness: 0.0625rem solid;
$box-shadow-sm: 0.2rem 0.2rem 0.3rem hsla(0, 0%, 0%, 0.1);
$box-shadow-md: 0.2rem 0.2rem 0.3rem hsla(0, 0%, 0%, 0.15);

[data-theme='light'] {
  --color-primary: hsl(169, 96%, 38%);
  --color-primary-light: hsl(169, 96%, 45%);
  --color-primary-light-hover: hsl(169, 96%, 42%);

  --color-secondary: hsl(189, 98%, 38%);
  --color-secondary-hover: hsl(189, 98%, 35%);
  --color-secondary-translucent: hsla(189, 98%, 38%, 0.2);

  --color-detail: hsl(16, 40%, 60%);
  --color-cta: #911f08;
  --color-cta-hover: hsl(10, 90%, 27%);
  --color-gray-light: hsl(0, 0%, 40%);

  --title-color: hsl(0, 0%, 5%);
  --text-color: hsl(0, 0%, 10%);
  --color-bg-translucent: hsla(0, 0%, 100%, 0.5);

  --color-bg-1: hsl(45, 29%, 97%);
  --color-bg-2: hsl(45, 10%, 100%);

  --border-color: hsl(0, 0%, 70%);
  --line-color: hsl(0, 0%, 80%);

  --skeleton-start: rgba(0, 0, 0, 0.2);
  --skeleton-middle: rgba(0, 0, 0, 0.1);
  --skeleton-end: rgba(0, 0, 0, 0.2);

  --glossy-start: hsl(189, 98%, 48%);
  --glossy-middle: hsl(189, 98%, 38%);
  --glossy-end: hsl(189, 98%, 48%);
}

[data-theme='dark'] {
  /* Reduced 30% from luminosity */
  --color-primary: hsl(169, 96%, 08%);
  --color-primary-light: hsl(169, 96%, 15%);
  --color-primary-light-hover: hsl(169, 96%, 12%);

  /* Reduced 25% from luminosity */
  --color-secondary: hsl(189, 98%, 13%);
  --color-secondary-hover: hsl(189, 98%, 10%);

  --color-detail: hsl(16, 40%, 25%);
  --color-cta: hsl(10, 60%, 25%);
  --color-cta-hover: hsl(10, 60%, 23%);
  --color-gray-light: hsl(0, 0%, 60%);

  --text-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 95%);
  --color-bg-translucent: hsl(0%, 0%, 0%, 0.5);

  --border-color: hsl(0, 0%, 30%);
  --line-color: hsl(0, 0%, 20%);

  --color-bg-1: hsl(0, 0%, 0%);
  --color-bg-2: hsl(0, 0%, 5%);

  --skeleton-start: rgba(255, 255, 255, 0.2);
  --skeleton-middle: rgba(255, 255, 255, 0.1);
  --skeleton-end: rgba(255, 255, 255, 0.2);

  --glossy-start: hsl(189, 98%, 23%);
  --glossy-middle: hsl(189, 98%, 13%);
  --glossy-end: hsl(189, 98%, 23%);
}