.btn {
  padding: 0.8em 1em;
  border: none;
  border-radius: var(--component-border-radius);
  background-color: var(--color-secondary);
  font-weight: 500;
}

.btn-action {
  background-color: var(--color-cta);
  color: var(--color-off-white);
}

.btn-success {
  background-color: var(--color-success);
  color: var(--color-off-white);
}

.btn-attention {
  background-color: var(--color-attention);
}

.btn-fail {
  background-color: var(--color-fail);
  color: var(--color-off-white);
}

.btn:hover {
  box-shadow: var(--component-box-shadow);
  background-color: var(--color-secondary-hover);
}

.btn-action:hover {
  background-color: var(--color-cta-hover);
}

.btn-success:hover {
  background-color: var(--color-success-hover);
}

.btn-fail:hover {
  background-color: var(--color-fail-hover);
}

.btn-attention:hover {
  background-color: var(--color-attention-hover);
}

.btn:focus {
  outline: none;
}
