.btn-action {
  background-color: var(--color-cta);
  color: var(--color-off-white);
}

.btn-success {
  background-color: var(--color-success);
  border-radius: var(--radius-lg);
  font-weight: bold;
}

.btn-attention {
  background-color: var(--color-attention);
  border-radius: var(--radius-lg);
  font-weight: bold;
}

.btn-fail {
  background-color: var(--color-fail);
  border-radius: var(--radius-lg);
  font-weight: bold;
}

.btn:hover {
  box-shadow: var(--component-box-shadow);
  background-color: var(--color-secondary-hover);
}

.btn-action:hover {
  background-color: var(--color-cta-hover);
}

.btn-success:hover {
  background-color: var(--color-success-hover);
}

.btn-fail:hover {
  background-color: var(--color-fail-hover);
}

.btn-attention:hover {
  background-color: var(--color-attention-hover);
}

.btn:focus {
  outline: none;
}
