.card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-group .cards {
  width: 100%;
}

.card-group__h2 {
  width: 100%;
  padding-bottom: 0.5rem;
  border-bottom: hsla(0, 0%, 50%, 0.2) solid 0.1rem;
  text-align: center;
}

.dashboard-container {
  background-color: var(--color-primary-translucent);
  padding: var(--container-padding);
  border-radius: var(--component-border-radius);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.entity-categories {
  flex: 1;
  background-color: var(--component-bg-color-dark);
  border-radius: 2rem;
  padding: 0.2rem;
  display: flex;
  gap: 0.3rem;
}

.entity-category {
  flex: 1;
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.entity-category:hover:not(.entity-category__active) {
  background-color: hsla(0, 0%, 50%, 0.2);
}

.entity-category__active {
  background-color: var(--color-cta);
  color: var(--color-off-white);
}

.dashboard-filter {
  background-color: var(--component-bg-color-dark);
  padding: var(--container-padding);
  border-radius: var(--component-border-radius);
  flex-basis: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dashboard-filter .inputs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.dashboard-filter .inp-group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.dashboard-filter .inp-date {
  width: 7.5rem;
  padding: 0.2rem;
}

.filter-icon {
  width: 2rem;
}

.btn-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 425px) {
  .dashboard-filter {
    flex: 1;
  }

  .dashboard-container {
    max-width: 380px;
  }

  .entity-categories {
    max-width: 380px;
  }
}

@media screen and (min-width: 475px) {
  .dashboard-filter {
    flex-basis: 330px;
  }
}

@media screen and (min-width: 768px) {
  .dashboard-container {
    max-width: 570px;
  }

  .dashboard-filter {
    flex: 3;
  }
  .entity-categories {
    flex: 1;
  }
}
