.notifications-container {
  background-color: rgba(128, 128, 128, 0.3);
  padding: var(--container-padding);
  border-bottom: hsla(0, 0%, 50%, 0.2) solid 0.5rem;
  max-height: 93.5vh;
  width: 100%;
  max-width: 768px;
  display: none;
  position: fixed;
  top: var(--header-height);
  z-index: 1;
}

.notifications-container h2 {
  color: var(--text-color);
  font-size: 1.4rem;
}

.notifications-container.display-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.notifications-cards {
  padding: 0.1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notifications-cards .notification {
  cursor: pointer;
  background-color: var(--component-bg-color-dark);
  border: var(--component-border);
  border-radius: var(--component-border-radius);
  border-left: var(--color-primary) 0.4rem solid;
  margin: 0 0.5rem;
  padding: var(--container-padding);
  transition: all 0.1s;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notification.read {
  border-left-color: hsla(0, 0%, 50%);
}

.notification .notification-header {
  display: flex;
  justify-content: space-between;
}

.notification .notification-time {
  font-weight: 500;
}
