.progress-bar__container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.progress-bar__container .info-item {
  justify-content: space-between;
}

.progress-bar__container .info-value {
  width: fit-content;
}

.progress-bar {
  height: 1rem;
  width: 100%;
  background-color: var(--color-gray);
  border-radius: var(--radius-sm);
  overflow: hidden;
}

.progress-fill {
  height: 1rem;
  width: 0;
}
