.progress-bar {
  height: 0.8rem;
  width: 100%;
  background-color: hsl(0, 0%, 50%);
  border-radius: 0.4rem;
  overflow: hidden;
}

.progress-fill {
  height: 0.8rem;
  background-color: var(--color-primary);
}