.login-link-container a {
  font-size: var(--text-sm);
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.login-link-container .icon {
  height: var(--icon-md);
}

.section {
  padding: 4rem 10% 4rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xxl);
  background-image: linear-gradient(
    to bottom,
    var(--color-bg-start),
    var(--color-bg-end),
    var(--color-bg-end),
    var(--color-bg-start)
  );
}

.img-container {
  max-width: 400px;
  display: flex;
  align-items: center;
  border-radius: var(--radius-xl);
  overflow: hidden;
}

.img {
  height: 100%;
  width: 100%;
  max-width: 630px;
  object-fit: cover;
  object-position: center;
}

.content-container {
  gap: var(--gap-md);
}

.hero-section {
  height: 100svh;
  padding-top: 7rem;
  background-image: linear-gradient(
    to top,
    var(--color-bg-start),
    var(--color-bg-end)
  );
}

.hero-section h1 {
  color: var(--text-color);
}

.hero-section .content-container {
  max-width: 400px;
  gap: var(--gap-lg);
}

.hero-section .content-container .btn {
  border-radius: var(--radius-xl);
}

.mission-section h2 {
  color: var(--text-color);
}

.mission-section .content-container {
  max-width: 800px;
}

.feature-section:nth-of-type(even) {
  flex-direction: column;
  text-align: left;
}

.feature-section .img-container {
  flex: 2;
}

.feature-section .content-container {
  flex: 3;
  text-align: left;
  align-items: flex-start;
}

.feature-section:nth-of-type(even) .content-container {
  align-items: flex-start;
  text-align: left;
}

.feature-section .text-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.footer__contact .address {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.footer .social-media {
  display: flex;
  gap: var(--gap-sm);
}

.social-media .icon {
  height: var(--icon-md);
}

@media (min-width: 768px) {
  .img-container {
    max-width: none;
  }

  .section {
    height: 100vh;
    flex-direction: row;
  }

  .feature-section:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .feature-section:nth-of-type(even) .content-container {
    align-items: flex-end;
    text-align: right;
  }

  .footer {
    flex-direction: row;
  }

  html,
  body {
    scroll-snap-type: y mandatory;
  }

  .section,
  .footer {
    scroll-snap-align: start;
  }
}
