.brand-container:hover span {
  text-decoration: underline;
}

.login-register.content-container {
  padding: var(--container-padding);
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 2rem;
  flex: 1;
}

.info-container {
  max-width: 400px;
}

.login-h1 {
  color: var(--color-primary-light);
}

.form {
  max-width: 320px;
  text-align: left;
  background-color: transparent;
}

.form .inp {
  background-color: transparent;
}

.form .btn {
  width: 100%;
}

.login-register.footer {
  padding: 1.5rem;
  background-color: hsl(0, 0%, 8%);
  scroll-snap-align: none;
}

.login-register.footer a {
  color: hsl(174, 90%, 40%);
  text-align: center;
}

.login-register.footer a:hover {
  color: hsl(174, 90%, 35%);
}

@media (min-width: 768px) {
  .login-register.content-container {
    flex-direction: row;
    flex: 1;
    /* margin-top: 0; */
  }
}
